*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}
html,body{
 height: 100%;
width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#img{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   overflow: auto;
  
}
img{
    display: flex;
    height: 300px;
   width: 200px;
    object-fit: cover;
}